/* Entire application wrapper */
*{
  margin: 0px;
}

  .app-wrapper {
  text-align: center;
  background: linear-gradient(90deg, rgba(32,61,106,1) 36%, rgba(49,96,149,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  }

  /* Navbar style */
  .navbar-wrapper{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    /* flex-direction: row; */
    /* align-items: center; */
  }

  .nav-link2{
    background-color: rgb(0, 156, 52);
    color: white;
    padding: 5px 1em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
  }

  .nav-link{
    background-color: rgb(0, 156, 52);
    color: white;
    padding: 5px 1em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
  }

  .nav-btn{
    background-color: rgb(161, 59, 59);
    width: 10vw;
    height: 3vh;
    color: white;
    padding: 5px 1em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
  }

  .nav-btn:hover{
    background-color: rgb(110, 34, 34);
    cursor: pointer;
  }
  .nav-link:hover{
    transition: .5s;
    background-color: rgb(3, 112, 39);
    border-radius: 10px;
  }
  
  .account-input{
    text-align: center;
    height: 30px;
    width: 25vw;
    font-size: 1.5vw;
    border-radius: 5px;
    margin: 20px;
  }
  
  .form-btn{
    text-align: center;
    padding-left: 10px;
    background-color: rgb(0, 129, 108);
    color: white;
    height: 5vh;
    width: 25vw;
    font-size: 1.4vw;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 3%;
  }

  .form-btn:hover{
    background-color: rgb(0, 86, 88);
    cursor: pointer;
  }

  .form-wrapper{
    margin-top: 3%;
  }

  /* .sub-form {
    border: 2px solid white;
    padding: 1.7%;
    margin: 3%;
    border-radius: 5px;
  } */
  